<div class="container">
  <div class="mt-2">
    <h4 class="text-center">Please drag and drop your name to your team</h4>
  </div>
  
  <div class="row justify-content-center mt-2 border p-5 rounded shadow">
    <%= render partial: 'users', collection: @unassigned, as: :data %>
  </div>

  <div class="row justify-content-betweeen">
    <%= render 'teams' %>
  <div>

</div>
