<div class="modal-header d-flex justify-content-between">
  <h2 class="modal-title font-weight-bold text-2xl" id="new-client-modal-title">Add New Announcement</h2>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <%= render 'form' %>
</div>
