<div class="container mt-5">
  <%= form_with model: Post.new do |f| %>
    <div class="row d-flex justify-content-between">
      <div class="col-md-8 ">
        <%= f.text_field :body, autofocus: true, class: "w-100 p-2 rounded-pill", placement: "Write a post here"  %>
      </div>
    </div>
  <% end %>
</div>

<%= render @posts %>